<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>RSDS Typografi</title>
    <link href="../styles/rsds.css" rel="stylesheet" />
    <link href="layout.css" rel="stylesheet" />
  </head>
  <body>
    <div class="wrapper">
      <div class="grid--s1">
        <main style="grid-column: 2 / -2;background:#ff007780;"><h1>Layout</h1></main>
      </div>
      <div class="grid--s1">
        <div class="demo">0</div>
        <div class="demo">1</div>
        <div class="demo">2</div>
        <div class="demo">3</div>
        <div class="demo">4</div>
        <div class="demo">5</div>
        <div class="demo">6</div>
        <div class="demo">7</div>
        <div class="demo">8</div>
        <div class="demo">9</div>
        <div class="demo">10</div>
        <div class="demo">11</div>
        <div class="demo">12</div>
        <div class="demo">x</div>
      </div>
      <div class="grid--s1" >
        <ul style="grid-column: vp-start / span 6; padding:0; grid-row-gap: 1.5rem; display: grid; grid-template-rows: auto; grid-template-columns: subgrid; background:#ff007740;">
          <li style="grid-column: span 2; background: #ff007740;">Thing 1</li>
          <li style="grid-column: span 2; background: #ff007740;">Thing 2</li>
          <li style="grid-column: span 2; background: #ff007740;">Thing 3</li>
          <li style="grid-column: span 2; background: #ff007740;">Thing 4</li>
          <li style="grid-column: span 2; background: #ff007740;">Thing 5</li>
          <li style="grid-column: span 2; background: #ff007740;">Thing 6</li>
        </ul>
      </div>
      <hr>
      <div class="grid--s1">
        <div class="demo">0</div>
        <div class="demo">1</div>
        <div class="demo">2</div>
        <div class="demo">3</div>
        <div class="demo">4</div>
        <div class="demo">5</div>
        <div class="demo">6</div>
        <div class="demo">7</div>
        <div class="demo">8</div>
        <div class="demo">9</div>
        <div class="demo">10</div>
        <div class="demo">11</div>
        <div class="demo">12</div>
        <div class="demo">x</div>
      </div>
      <div class="grid--s1" style="column-gap: 0; --rsds-grid-col-max: 12rem" >
        <ul style="grid-column: 2 / span 8; padding:0; grid-row-gap: 1.5rem; column-gap:1.5rem; display: grid; grid-template-rows: auto; grid-template-columns: subgrid; background:#ff007740;">
          <li style="grid-column: b / -1; background: #00ccff40;">A 1</li>
          <li style="grid-column: span 2; background: #ff007740;">Thing 2</li>
          <li style="grid-column: span 2; background: #ff007740;">Thing 3</li>
          <li style="grid-column: span 2; background: #ff007740;">Thing 4</li>
          <li style="grid-column: span 2; background: #ff007740;">Thing 5</li>
          <li style="grid-column: span 2; background: #ff007740;">Thing 6</li>
        </ul>
      </div>
  </body>
</html>
