@import url("rsds-colors.css");
@import url("rsds-layout.css");
@import url("rsds-typography.css");

:root {
}
body {
  color: var(--rsds-ct-foreground);
  background: var(--rsds-ct-background);
  margin: 0;
}

.grid--s1 {
  display: grid;
  grid-template-columns: var(--rsds-grid--s1);
  column-gap: var(--rsds-grid-gap--s1);
}

.grid--p1 {
  display: grid;
  grid-template-columns: var(--rsds-grid--p1);
  column-gap: var(--rsds-grid-gap--p1);

  .tool {grid-column:  span 3 / -1;
  background:#c0c0c0;
padding:1.5rem;
}
}

section.hero {
  /* var ska jag vara i min förälder? jo, jag ska spänna över hela sidan */
  grid-column: 1 / -1;
  min-height: 50dvh;
  background: #00ff0040;
  align-items: center;
  justify-content: center;
  text-align: center;

  /* hur ska jag hantera mina barn */
  display: grid;
  grid-template-columns: var(--rsds-grid--s1);
  column-gap: var(--rsds-grid-gap--s1);

  & * {
    grid-column: 2 / -2;
    background: #00ff0040;
    padding-block: 3rem;
  }
}
section.page {
  grid-column: 1 / -1;
  main {
    grid-column: 2 / 8;
  }
  aside {
    grid-column: 8 / span 5;
  }
}
.ruler {
  grid-column: 1 / 2;
  background: #ff000080;
  padding-block:2rem;
}
