 
:root {
    --testcolor: #f07;
 --rsds-grid-gap--p1: 1.5rem;
 --rsds-grid-gap--s1: 1.5rem;
 --rsds-grid-gap--s1: 0;
 --rsds-grid-col-max: 4.875rem;

  --rsds-grid-col: minmax(.0625rem, var(--rsds-grid-col-max));
  --rsds-grid-col-first: minmax(.5rem, 1fr);
  --rsds-grid-col-last: minmax(.5rem, 1fr);

  --rsds-grid-col--p1: 1fr;
  --rsds-grid-col-first--p1: 1rem;
  --rsds-grid-col-last--p1: 1rem;


  /* prettier-ignore */
  --rsds-grid--s1:
  [vp-start] var(--rsds-grid-col-first)
  [a] var(--rsds-grid-col)
  [b] var(--rsds-grid-col)
  [c header-start footer-start] var(--rsds-grid-col)
  [d meta-end main-start] var(--rsds-grid-col)

  [e] var(--rsds-grid-col)
  [f] var(--rsds-grid-col)
  [g] var(--rsds-grid-col)
  [h] var(--rsds-grid-col)

  [i] var(--rsds-grid-col)
  [j] var(--rsds-grid-col)
  [k] var(--rsds-grid-col)
  [l page-end header-end footer-end] var(--rsds-grid-col)
  [n] var(--rsds-grid-col-last)
  [vp-end] ;

    --rsds-grid--p1:
  [vp-start] var(--rsds-grid-col-first--p1)
  [a] var(--rsds-grid-col--p1)
  [b] var(--rsds-grid-col--p1)
  [c header-start footer-start] var(--rsds-grid-col--p1)
  [d meta-end main-start] var(--rsds-grid-col--p1)

  [e] var(--rsds-grid-col--p1)
  [f] var(--rsds-grid-col--p1)
  [g] var(--rsds-grid-col--p1)
  [h] var(--rsds-grid-col--p1)

  [i] var(--rsds-grid-col--p1)
  [j] var(--rsds-grid-col--p1)
  [k] var(--rsds-grid-col--p1)
  [l page-end header-end footer-end] var(--rsds-grid-col--p1)
  [n] var(--rsds-grid-col-last--p1)
  [vp-end] ;

}
.demo {
  background: #ff007740;
  border-inline: 1px solid #ff007780;
  box-sizing: border-box;
  text-align: center;
}