@import url("https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,400;0,7..72,700;1,7..72,400;1,7..72,700&family=Public+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {

  /* lengths */
  --rsds-l-1g: 0.75rem;
  --rsds-l-2g: 1.5rem;
  --rsds-l-3g: 2.25rem;
  --rsds-l-4g: 3rem;
  --rsds-l-1rpx: 0.0625rem;
  --rsds-l-2rpx: 0.125rem;
  --rsds-l-4rpx: 0.25rem;
  --rsds-l-halfg: 0.375rem;
  --rsds-1rem: 1rem;

  /* spacings */

  --rsds-sp-inside: var(--rsds-l-1g);
  --rsds-sp-outside: var(--rsds-l-2g);

  --space-before: 1.5rem;
  --space-between: 0.75rem;
  --lh-1: 1rem;
  --lh: 1.5rem;
  --lh1: 2.25rem;
  --lh2: 3rem;

  --ts-1: .75rem;
  --ts: 1rem;
  --ts1: 1.125rem;
  --ts2: 1.25rem;
  --ts3: 1.5rem;
  --ts4: 2rem;
  --ts5: 2.25rem;
  --ts6: 2.75rem;

  /* sizes and lineheights for headings */

  --rsds-fs-h-5xl: 2.75rem;
  --rsds-lh-h-5xl: 3rem;

  --rsds-fs-h-4xl: 2.25rem;
  --rsds-lh-h-4xl: 2.25rem;

  --rsds-fs-h-3xl: 2rem;
  --rsds-lh-h-3xl: 2.25rem;

  --rsds-fs-h-2xl: 1.5rem;
  --rsds-lh-h-2xl: 1.5rem;

  --rsds-fs-h-xl: 1.25rem;
  --rsds-lh-h-xl: 1.5rem;

  --rsds-fs-h-l: 1.125rem;
  --rsds-lh-h-l: 1.5rem;

  --rsds-fs-h-base: 1rem;
  --rsds-lh-h-base: 1.5rem;

  /* size and lineheight for large text */

  --rsds-fs-t-l: 1.125rem;
  --rsds-lh-t-l: 1.5rem;

/* size and lineheight for normal text */

  --rsds-fs-t-base: 1rem;
  --rsds-lh-t-base: 1.5rem;

/* size and lineheight for small text */
  --rsds-fs-t-s: 0.75rem;
  --rsds-lh-t-s: 1rem;
}


body {
  font-family: "Public Sans", sans-serif;
}


.rsds-typo {

  font-family: "Literata", serif; 

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Public Sans", sans-serif;
    font-weight: bold;
    margin:0;
  }

  h1:not(:first-child),
  h2:not(:first-child),
  h3:not(:first-child),
  h4:not(:first-child),
  h5:not(:first-child),
  h6:not(:first-child) {
    margin-block-start: var(--rsds-sp-outside);
  }
  p {
    line-height: 1.5rem;
    margin-block: 0;
    max-width: 40rem;
  }
  p:not(:first-child) {
    margin-block-end: 0;
    margin-block-start: var(--rsds-sp-inside);
  }

  /* preamble 
    maybe the automatic styling (h1 + p) hould be disabled in favor of a class? 
  */ 
  
  h1 + p,
  .preamble {
    font-size: var(--rsds-fs-t-l);
    line-height: var(--rsds-lh-t-l);
  }

  /* headings */

  h1 {
    font-size: var(--rsds-fs-h-5xl);
    line-height: var(--rsds-lh-h-5xl);
  
    margin-block-end: var(--rsds-sp-inside);
  }

  h2 {
    font-size: var(--rsds-fs-h-3xl);
    line-height: var(--rsds-lh-h-3xl);
  }

  h3 {
    font-size: var(--rsds-fs-h-2xl);
    line-height: var(--rsds-lh-h-2xl);
  }
 
  h4 {
    font-size: var(--rsds-fs-h-xl);
    line-height: var(--rsds-lh-h-xl);
  }

  h5 {
    font-size: var(--rsds-fs-h-l);
    line-height: var(--rsds-lh-h-l);
  }
 
  h6 {
    font-size: var(--rsds-fs-h-base);
    line-height: var(--rsds-lh-h-base);
  }

  &.rsds-typo--hdepth-dynamic:has(h2),
  &.rsds-typo--hdepth-2 {

    background:hsl(240, 100%, 90%);
  
    h2 {
      font-size: var(--rsds-fs-h-base);
      line-height: var(--rsds-lh-h-base);

      font-size: var(--rsds-fs-h-xl);
      line-height: var(--rsds-lh-h-xl);
    }
  
    h3 {
      font-size: var(--rsds-fs-h-base);
      line-height: var(--rsds-lh-h-base);
    }
   
    h4 {
      font-size: var(--rsds-fs-h-base);
      line-height: var(--rsds-lh-h-base);
    }
  
    h5 {
      font-size: var(--rsds-fs-h-base);
      line-height: var(--rsds-lh-h-base);
    }
   
    h6 {
      font-size: var(--rsds-fs-h-base);
      line-height: var(--rsds-lh-h-base);
    }
  }

  &.rsds-typo--hdepth-dynamic:has(h3),
  &.rsds-typo--hdepth-3 {

  background:hsl(180, 100%, 90%);
  
    h2 {
      font-size: var(--rsds-fs-h-3xl);
      line-height: var(--rsds-lh-h-3xl);
    }
  
    h3 {
      font-size: var(--rsds-fs-h-base);
      line-height: var(--rsds-lh-h-base);
    }
   
    h4 {
      font-size: var(--rsds-fs-h-base);
      line-height: var(--rsds-lh-h-base);
    }
  
    h5 {
      font-size: var(--rsds-fs-h-base);
      line-height: var(--rsds-lh-h-base);
    }
   
    h6 {
      font-size: var(--rsds-fs-h-base);
      line-height: var(--rsds-lh-h-base);
    }
  }

  &.rsds-typo--hdepth-dynamic:has(h4),
  &.rsds-typo--hdepth-4 {

  background:hsl(120, 100%, 90%);
  
    h2 {
      font-size: var(--rsds-fs-h-3xl);
      line-height: var(--rsds-lh-h-3xl);
    }
  
    h3 {
      font-size: var(--rsds-fs-h-xl);
      line-height: var(--rsds-lh-h-xl);
    }
   
    h4 {
      font-size: var(--rsds-fs-h-base);
      line-height: var(--rsds-lh-h-base);
    }
  
    h5 {
      font-size: var(--rsds-fs-h-base);
      line-height: var(--rsds-lh-h-base);
    }
   
    h6 {
      font-size: var(--rsds-fs-h-base);
      line-height: var(--rsds-lh-h-base);
    }
  }

  &.rsds-typo--hdepth-dynamic:has(h5),
  &.rsds-typo--hdepth-5 {

  background:hsl(60, 100%, 90%);
  
    h2 {
      font-size: var(--rsds-fs-h-3xl);
      line-height: var(--rsds-lh-h-3xl);
    }
  
    h3 {
      font-size: var(--rsds-fs-h-xl);
      line-height: var(--rsds-lh-h-xl);
    }
   
    h4 {
      font-size: var(--rsds-fs-h-l);
      line-height: var(--rsds-lh-h-l);
    }
  
    h5 {
      font-size: var(--rsds-fs-h-base);
      line-height: var(--rsds-lh-h-base);
    }
   
    h6 {
      font-size: var(--rsds-fs-h-base);
      line-height: var(--rsds-lh-h-base);
    }
  }


  &.rsds-typo--hdepth-dynamic:has(h6),
  &.rsds-typo--hdepth-6 {

  background:hsl(0, 100%, 90%);  
  
    h2 {
      font-size: var(--rsds-fs-h-3xl);
      line-height: var(--rsds-lh-h-3xl);
    }
  
    h3 {
      font-size: var(--rsds-fs-h-2xl);
      line-height: var(--rsds-lh-h-2xl);
    }
   
    h4 {
      font-size: var(--rsds-fs-h-xl);
      line-height: var(--rsds-lh-h-xl);
    }
  
    h5 {
      font-size: var(--rsds-fs-h-l);
      line-height: var(--rsds-lh-h-l);
    }
   
    h6 {
      font-size: var(--rsds-fs-h-base);
      line-height: var(--rsds-lh-h-base);
    }
  }


  ul ul {
    margin-block-start: 0;
  }
}

