/*NOT TO USE */
:root {
  /* Foundation */
  --rsds-ct-foreground: var(--rsds_ref_ink_grey--800);
  --rsds-ct-foreground--subdued: var(--rsds_ref_ink_grey--400);
  --rsds-ct-background: var(--rsds_ref_ink_white);

  /* Links and Actions */
  --rsds-ct-border: var(--rsds_ref_ink_grey--800);
  --rsds-ct-link: var(--rsds_ref_ink_saphire);
  --rsds-ct-link--visited: var(--rsds_ref_ink_1177-plum-base);
  --rsds-ct-selected-bg: var(--rsds_ref_ink_saphire--bright-alpha);
  --rsds-ct-focus: var(--rsds_ref_ink_saphire--medium);
  --rsds-ct-warning: var(--rsds_ref_ink_red);

  /* Logotyp */
  --rsds-ct-logo-primary: var(--rsds_ref_ink_red);
  --rsds-ct-logo-secondary: var(--rsds_ref_ink_yellow);

  /* Menu items - MÅSTE fixas i Dark mode */
  --rsds-ct-menu-item-bg: var(--rsds_ref_ink_white);
  --rsds-ct-menu-item-bg--hover:var( --rsds_ref_ink_grey--100);
  --rsds-ct-menu-item-outline:var( --rsds_ref_ink_white);
  --rsds-ct-menu-item-underline:var( --rsds_ref_ink_transparent);
  --rsds-ct-menu-item-underline--hover:var( --rsds_ref_ink_yellow);
  --rsds-ct-menu-item-underline--active:var( --rsds_ref_ink_yellow);

  /* All button colours >Button */
  --rsds-ct-button-bg:var(  --rsds_ref_ink_white);
  --rsds-ct-button-bg--hover:var(  --rsds_ref_ink_grey--100);
  --rsds-ct-button-bg--active: var( --rsds_ref_ink_grey--175);
  --rsds-ct-button-bg--selected: var( --rsds_ref_ink_saphire--bright-alpha);
  /* All button colours >Main button */
  --rsds-ct-main-button-fg: var( --rsds_ref_ink_cream);
  --rsds-ct-main-button-fg--disabled:var(  --rsds_ref_ink_grey--darken-60);
  --rsds-ct-main-button-bg: var( --rsds_ref_ink_sea);
  --rsds-ct-main-button-bg--disabled: var( --rsds_ref_ink_grey--200);
  --rsds-ct-main-button-bg--hover: var( --rsds_ref_ink_sea--dark);
  --rsds-ct-main-button-bg--active: var( --rsds_ref_ink_sea--darker);
  /* All button colours >Ghost button */
  --rsds-ct-ghost-button-bg: var( --rsds_ref_ink_transparent);
  --rsds-ct-ghost-button-bg--hover: var( --rsds_ref_ink_grey--darken-6);
  --rsds-ct-ghost-button-bg--active: var( --rsds_ref_ink_grey--darken-12);
  --rsds-ct-ghost-button-bg--selected: var( --rsds_ref_ink_saphire--bright-alpha);
}

